.letra{
    font-family: Arial;
}

.body{
    width: 100%;
    padding: 0px;
    margin-left: 12cm;
    margin-right: 12cm;
    justify-content: center;
}

.footer{
    background-color: black;
    color:white;
    text-align: right;

}