.letra{
    font-family: Arial;
    margin-left: 12,5%;
    margin-right: 12,5%;
    justify-content: center;
    margin: 0 auto;
}

.contenedor{
    width: 75%;
    padding: 10px;
    margin: 0 auto;
    margin-left: 12,5%;
    margin-right: 12,5%;
   
}
.principal{
    padding: 10px;
    width: 75%;
    margin:0 auto;
    margin-left: 12,5%;
    margin-right: 12,5%;
}
.header{
    display: flex;
    background-color: black;
    color: white;
    margin-left: 12,5%;
    margin-right: 12,5%;
}
.nombre{
    margin-left:12,5%;
    margin-right:12,5% ;
    width: 75%;
}
.titulo{
    font-size:18px;
}
.footer{
    background-color: black;
    color:white;
    text-align: right;
    margin-left: 12,5%;
    margin-right: 12,5%;
    padding: 20px;

}